@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Monsterrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black
}
.main {
    width: 70%;
    height: 90%;
    border-radius: 2rem;
    background: linear-gradient(45deg, rgb(234, 0, 255), rgb(251, 255, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

input, #sele {
    background-color: rgba(255, 255, 255, 0.07);
    border: none;
    border-bottom: 4px white solid;
    height: 3rem;
    line-height: 3rem;
    padding: 10px;
    margin: 20px;
    width: 20rem;
    font-size: 1.2rem;
    color: white;
}

input::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}

input::placeholder{
    color: white;
    font-size: 1.2rem;
}

button {
    width: 20rem;
    height: auto;
    background-color: rgba(255, 255, 255, 0.35);
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 10px;
    margin: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

#test {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin: 40px;
    position: absolute;
    bottom: 0%;
    text-align: center;
}

h4 {
    font-size: 2.4rem;
    color: white;
    margin: 10px;
    position: absolute;
    top: 10%;
}

option{
    background-color: white;
    color: black;
}
