/* ==================================================================== */

/* | */

/* | */

/* ========================  LOGIN PANEL  ============================= */

/* | */

/* | */

/* ==================================================================== */

/* | */

.loginsec {
    width: 100%;
    height: 100%;
    background: var(--main-darker);

    border-radius: 1.3rem;
    display: flex;
    flex-direction: row;

    border-radius: 1.3rem;
    overflow: hidden;


}

.loginsec form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 0 5rem;
    height: 100%;
    /* background-color: var(--main-sdarker); */
    
    position: relative;
    /* left: 50%; */
    top: 50%;
    transform: translate(-0%, -50%);

    filter: opacity(0);
    animation: appear 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    
}

.loginsec form.loginform input {
    border-radius: .9rem;
    padding: 10px 15px;
    margin: 20px;
    background: transparent;
    border: 3px solid var(--main-text);
    font-size: 1.3rem;
    color: white;
    width: 17rem;

    transition: background .2s ease-in-out;
}
.loginsec form.registerform input {
    border-radius: .9rem;
    padding: 10px 15px;
    margin: 20px;
    background: transparent;
    border: 3px solid var(--main-text);
    font-size: 1.3rem;
    color: white;
    width: 17rem;

    transition: background .2s ease-in-out;
}
.loginsec form .l, .loginsec form .p {
    position: relative;
}
.loginsec form.loginform .l label, .loginsec form.loginform .p label {
    background: var(--main-darker);
    padding: 1px 10px;
    border-radius: 1rem;
    color: var(--main-text);
    font-size: 1.3rem;
    top: 50%;
    left: 45%;
    transform: translate(-100%, -50%);
    pointer-events: none;
    transition: ease-in-out .2s;

    position: absolute;
}


.loginsec form.registerform .l label, .loginsec form.registerform .p label {
    background: var(--main-darker);
    padding: 1px 10px;
    border-radius: 1rem;
    color: var(--main-text);
    font-size: 1.3rem;
    top: 50%;
    left: 45%;
    transform: translate(-100%, -50%);
    pointer-events: none;
    transition: ease-in-out .2s;

    position: absolute;
}



.loginsec form .l label.clicked, .loginsec form .p label.clicked {
    color: white;
    font-size: 1rem;
    top: 22%;
    left: 40%;
}

/* .login form .l label:focus {
    color: red;
    background-color: antiquewhite;
} */


.loginform {
    background: var(--main-darker);
    border-radius: 1.3rem;

    box-shadow: 0 0 100px 15px var(--main-sdarker);
    filter: brightness(40%);
    border-bottom: 1rem solid var(--main-text);
}

.registerform {
    background: var(--main-darker);
    border-radius: 1.3rem;

    box-shadow: 0 0 100px 15px var(--main-sdarker);
    filter: brightness(40%);
}

/* .loginform::after {
    content: '';
    width: 100%;
    height: 100%;
    left: 100%;
    background-color: var(--main-darker);
    position: absolute;
    transform: translate(-100%, 0%);
}

.registerform::after {
    content: '';
    width: 100%;
    height: 100%;
    right: 100%;
    background-color: var(--main-sdarker);
    position: absolute;
    transform: translate(100%, 0%);
} */

.registercont {
    width: 100%;
    height: calc(100% - 10px);
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    overflow: hidden;
}

.logincont {
    width: 100%;
    height: calc(100% - 10px);
    transform: translate(0%, 0%);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: calc(50% - 50%);
    z-index: 11;
    transition:  1s ease-in-out;

    overflow: hidden;
    white-space: nowrap;
}
.logincont *, .registercont * {
    color: var(--main-text);
}

/* 
.p svg {
    position: absolute;

} */


form.loginform h1 {
    font-size: 3.7rem;
}
form.loginform p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

form.registerform h1 {
    font-size: 3.7rem;
}
form.registerform p {
    font-size: 1.7rem;
    margin-bottom: 30px;
}

.loginsec form input[type='submit'] {
    color: var(--main-text);
}

form input[type='submit']:hover {
    background: var(--main-text);
    color: var(--main-dark);
}




.themepicker {
    width: 100%;
    height: max-content;
    background-color: transparent;
    padding: 10px 20px;

    position: relative;
}

.themeslist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.themeslist * {
    background-color: white;
    width: 15%;
    height: 20px;

    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.themeslist > div.themeSelected {
    outline: 5px solid var(--main-dark);
}

.style1 {
    background: rgb(119, 0, 255);
}

.style2 {
    background: rgb(0, 255, 251);
}

.style3 {
    background: rgb(119, 119, 119);
}

.style4 {
    background: rgb(255, 238, 0);
}

.style5 {
    background: rgb(177, 0, 0);
}

.style6 {
    background: rgb(192, 0, 0);
}
.style6::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    transform: rotate(-30deg) translate(-75%, -50%);
    background: rgb(255, 217, 0);
}

.style7 {
    background: rgb(194, 51, 165);
}
.style7::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    transform: rotate(-30deg) translate(-75%, -50%);
    background: rgb(102, 202, 255);
}


.style8 {
    background: rgb(70, 70, 70);
}
.style8::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    transform: rotate(-30deg) translate(-75%, -50%);
    background: rgb(208, 255, 0);
}

