@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Varela+Round&display=swap');

::-webkit-scrollbar-button {
  background-color: transparent;
  transition: ease-in-out 0.3s;
}

::-webkit-scrollbar-thumb {
  background-color: #e01a4f;
  border-radius: 50px;
  transition: ease-in-out 0.3s;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  transition: ease-in-out 0.3s;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  transition: ease-in-out 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow: hidden;
}

:root {
  /* White  */
  --white: rgb(255, 255, 255);

  /* MainBlack */
  --mainblack: #0c090d;

  /* MainPink */
  --mainpink: #e01a4f;

  /* MainPink2 */
  --mainpink2: #f15946;

  /* MainGold */
  --maingold: #f9c22e;

  /* MainCyan */
  --maincyan: #53b3cb;




  /* Border Radius  */
  --radius: 1rem;

  /* MARGIN */
  --margin: 10px;


}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: var(--mainpink);
  color: white;
}

.menu {
  width: calc(100vw - 2 * var(--margin));
  height: calc(10vh - 2 * var(--margin));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainblack);
  margin: var(--margin);
  padding: var(--margin);
  border-radius: var(--radius);
  overflow: hidden;
}
.menu p {
  padding: var(--margin);
  font-size: 2rem;
  color: var(--mainpink);
}

.menu .hotbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.menu div.hotbar {
  background-color: var(--mainpink);
  height: 100%;
  width: auto;
  border-radius: calc(3 * var(--radius));
}

.menu .hotbar li {
  /* margin: 0 calc(3 * var(--margin)); */
  height: 100%;
  width: 170%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .hotbar li a {
  color: var(--white);
  width: auto;
  height: 100%;
  padding: var(--margin) calc(3 * var(--margin));
  font-size: 1.6rem;
}

.menu .ikony {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu .ikony li {
  /* margin: 0 calc(3 * var(--margin)); */
  height: 100%;
  width: 170%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .ikony li a {
  color: var(--white);
  width: auto;
  height: 100%;
  padding: var(--margin) calc(3 * var(--margin));
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .ikony li a svg {
  width: 30px;
  height: 30px;
}

ul li:hover::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 90%;
  top: 10%;
  background-color: #e01a4f;
  z-index: 100;
  transition: ease-in-out 0.2s;
}

ul li::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 0px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #e01a4f;
  z-index: 100;
  transition: ease-in-out 0.4s;
}



.section {
  background-color: var(--mainblack);
  width: calc(100vw - 2 * var(--margin));
  height: calc(90vh - 2 * var(--margin));
  margin: 0 var(--margin);
  border-radius: var(--radius);

}

.fot {
  color: var(--mainblack);
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}