@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

::-webkit-scrollbar-button {
  background-color: transparent;
  transition: ease-in-out 0.3s;
}

::-webkit-scrollbar-thumb {
  background-color: #e01a4f;
  border-radius: 50px;
  transition: ease-in-out 0.3s;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  transition: ease-in-out 0.3s;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  transition: ease-in-out 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #0c090d;
  color: white;
}

.menu {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  list-style: none;
  border: none;
}

ul li {
  margin: 10px 20px;
  padding: 10px 20px;
  font-size: 2rem;

  transition: ease-in-out 0.2s;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

ul li a {
  color: #e01a4f;
  z-index: 100;
  transition: ease-in-out 0.4s;
}

.ikony li svg {
  color: #e01a4f;
  z-index: 100;
  transition: ease-in-out 0.4s;
}

.ikony li a {
  padding: 0px;
}

.ikony li a svg {
  width: 25px;
  height: 25px;
  font-weight: 700;
  color: white;
}

.ikony li:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  background-color: #ffffff;
  z-index: 100;
  transition: ease-in-out 0.2s;
}

.ikony li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #ffffff;
  z-index: 100;
  transition: ease-in-out 0.4s;
}

.ikony li:hover svg {
  color: rgb(0, 0, 0);
  transition: ease-in-out 0.2s;
}

ul li:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  background-color: #e01a4f;
  z-index: 100;
  transition: ease-in-out 0.2s;
}

ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #e01a4f;
  z-index: 100;
  transition: ease-in-out 0.4s;
}

ul li:hover a {
  color: rgb(0, 0, 0);
  transition: ease-in-out 0.2s;
}

/* ul li:hover {
    background-color: violet;
    
}

ul li::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3.5px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(177, 124, 124);
    z-index: 100;
    transition: ease-in-out .1s;
} */

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(1fr, auto);
  grid-template-areas: 
  'g g s'
  'l i s'
  'l z z';
  z-index: 100;
}

.main a, .games a{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #0c090d;
  font-weight: 700;
  transition: ease-in-out .2s;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  
}

.grid1 {
  grid-area: g;
  background-color: #e01a4f;
}
.grid2 {
  grid-area: s;
  background-color: #53b3cb;
}
.grid3 {
  grid-area: i;
  background-color: #f9c22e;
}
.grid4 {
    grid-area: z;
    background-color: #f15946;
}
.grid5 {
  grid-area: l;
  background-color: #b846f1;
}


.main a:hover, .games a:hover{
    background-color: #332838;
    color: #ffffff;
    cursor: pointer;
}












.games {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(1fr, auto);
  grid-template-areas: 
  'w o a'
  'k o a'
  'k d d';
  z-index: 100;
}

.hidden {
  display: none;
}


.back {
  grid-area: w;
  background-color: #782037;
}
.game1 {
  grid-area: a;
  background-color: #e01a4f;
}
.game2 {
  grid-area: o;
  background-color: #53b3cb;
}
.game3 {
  grid-area: k;
  background-color: #f9c22e;
}
.game4 {
    grid-area: d;
    background-color: #f15946;
}








/* .background {
    background-color: aqua;
    width: 200px;
    height: 200px;
    border-radius: 100rem;
    position: absolute;
    z-index: 1;
} */





/* i {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 20px;
    background-color: white;
    animation: rain 5s infinite linear;
    z-index: 2;
}


@keyframes rain {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(calc(100vh + 10px));
    }
} */