@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  border: none;
  outline: none;
}

body {
  background-color: var(--bg);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--bg);
}
::-webkit-scrollbar-button {
  background-color: aqua;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 1rem;
  margin: 10px;
}

:root {
  /* --panel: rgb(24, 0, 43); */

  /* linear-gradient(45deg, rgb(30, 0, 55), rgb(52, 0, 95)) */

  /* --main-accent: rgb(52, 0, 95); */

  --main: rgb(119, 0, 255);

  --main-dark: rgb(65, 0, 118);

  --main-darker: rgb(24, 0, 44);

  --main-text: rgb(153, 64, 255);

  --bg: rgb(11, 0, 21);

  --blocked: rgb(80, 0, 172);

  --not-blocked: rgb(119, 0, 255);
}

/* ==================================================================== */

/* | */

/* | */

/* ========================  LEFT PANEL  ============================= */

/* | */

/* | */

/* ==================================================================== */

/* | */


#left-panel {
  background: var(--bg);
  width: 7rem;
  height: calc(100% - 2 * 20px);
  position: fixed;
  margin: 20px;
  padding: 10px;
  border-radius: 1.3em;
  transition: ease-in-out 0.5s;
  /* box-shadow: 0px 0px 15px 0px var(--not-blocked); */

  overflow-x: hidden;

  animation: appear 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  z-index: 10000;

}
#left-panel > * {
  margin-bottom: 10px;


}

#left-panel.max {
  width: 20rem;
}
#left-panel.max #minmax {
  left: 100%;
  width: 25%;
  transform: translateX(-100%);
}
#left-panel.max #categories ul li a p {
  display: block;
  position: absolute;
  animation: show 1s;
  /* animation-fill-mode: forwards; */
  animation-iteration-count: 1;
  
}
#left-panel.max #categories ul li:hover a p {
  color: black;
  animation: none;
}

@keyframes show {
  0% {
    color: transparent;
  }
  100% {
    color: var(--main-text);
  }
}

#left-panel.max #categories ul li a > svg {
  transform: translate(-300%, 0%);
}

#left-panel #categories ul li a > p {
  display: none;
  position: absolute;
}

#categories ul li a svg {
  position: relative;
  transition: transform ease-in-out 0.5s;
}

#categories ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px 10px;
  margin: 10px 0px;
  border-radius: 1.1rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  color: var(--main-text);
  transition: ease-in-out 0.1s;
}




#categories ul li a p {
  margin-left: 100px;
  color: var(--main-text);
}
#categories ul li {
  line-height: 1.5rem;
  width: 100%;

}
#categories ul li a svg,
#minmax svg {
  width: 30px;
  height: 30px;
}
#categories ul {
  margin: auto auto;
}

#categories ul li:hover a {
  background-color: var(--main);
  color: black;
}

#minmax {
  width: 100%;
  height: 4rem;
  left: 0;
  position: relative;
  background: var(--not-blocked);
  border: none;
  outline: none;
  border-radius: 1.1em;
  transition: ease-in-out 0.5s, background ease 0.2s;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#minmax:disabled {
  cursor: not-allowed;
}

#logo {
  width: 100%;
  height: 5rem;
  /* background-color: rgb(111, 111, 111); */
  border-radius: 1.1em;
  transition: ease-in-out 0.5s;
}

#categories {
  width: 100%;
  background-color: transparent;
  margin-top: 30px;
  
}

#categories ul li {
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer;
}

#account {
  width: 100%;
  height: calc(4rem - 1.5 * 10px);
  background-color: rgb(61, 0, 130);
  border-radius: 1.2rem 1.2rem 0 0;
  position: absolute;
  transform: translate(-50%, -100%);
  transition: height ease-out 0.5s;
  top: 100%;
  left: 50%;
  margin: 0;
}
#account .profile-img svg {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.564);
}
#account > svg {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 50%;
  color: var(--not-blocked);
  animation: upup 1s infinite alternate;
}
@keyframes upup {
  from {
    transform: translateY(-30%);
    color: white;
  }
  to {
    transform: translateY(40%);
  }
}

#left-panel.max #account {
  width: 100%;
  height: 4rem;
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
  /* transform: translate(0%, 200%); */
}
#left-panel.max #account:hover {
  height: 8rem;
}
#left-panel.max #account:hover .profile-img {
  height: calc(8rem - 2 * 10px);
  width: calc(8rem - 2 * 10px);
  border-radius: 1.5rem;
  left: 0;
}

#account .profile-img {
  width: calc(5rem - 2 * 10px);
  height: calc(5rem - 2 * 10px);
  position: absolute;
  bottom: 0%;
  left: calc(50% - 10px);
  margin: 10px;
  left: 0;
  /* transform: translate(-50%, -0%); */
  border-radius: 1rem;
  /* background-color: aqua; */
  transition: ease 0.7s;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 0, 130);

  border: 3px solid var(--not-blocked);
}
#left-panel.max #account .profile-img {
  width: 70px;
  height: 70px;
}

#left-panel.max #account .profile-img:hover {
  box-shadow: inset 0 0 30px 5px black;
}

#left-panel.max #account > svg.bi-arrow-up-short {
  display: none;
}

#left-panel #account .profile-name {
  display: none;
}

#left-panel.max #account .profile-name {
  display: block;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 1.2rem;
  /* color: var(--not-blocked); */
  color: transparent;
  transition: top ease-in-out 0.5s, color ease 0.2s;

  animation: nick 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes nick {
  0% {
    color: transparent;
  }
  100% {
    color: #b469ff;
  }
}

#left-panel.max #account:hover .profile-name {
  top: 20%;
}

.hidden {
  display: none;
}

hr.hr {
  width: 50%;
  height: 1px;
  background-color: rgba(80, 0, 172, 0.529);
  border: none;
  outline: none;
  margin: 0 auto;
  transition: ease-in-out 0.5s;
}
#left-panel.max hr.hr {
  width: 90%;
}
hr.hr:first-child,
hr.hr:last-child {
  width: 30%;
}
#left-panel.max hr.hr:first-child,
#left-panel.max hr.hr:last-child {
  width: 70%;
}


@keyframes appear {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

/* ==================================================================== */

/* | */

/* | */

/* ========================  RIGHT PANEL  ============================= */

/* | */

/* | */

/* ==================================================================== */

/* | */

#right-panel {
  position: absolute;
  right: 0;
  /* background: var(--left-panel); */
  background-color: transparent;
  backdrop-filter: opacity(50%);
  height: calc(100% - 2 * 20px);
  width: calc(100% - 7rem - 4 * 20px);
  margin: 20px;
  padding: 10px 10px 0px 10px;
  /* padding: 20px 50px; */
  transform: translate(0%, 0%);
  transition: width ease-in-out 0.5s, ease-in-out 0.5s;
  border-radius: 1.3rem;
}
#left-panel.max ~ #right-panel {
  position: absolute;
  right: 0;
  background-color: transparent;
  height: calc(100% - 2 * 20px);
  width: calc(100% - 20rem - 4 * 20px);
  margin: 20px;
  transform: translate(0%, 0%);
}

#right-panel .top {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  padding: 0 0px;
  background: var(--main-accent);
  border-radius: 1.3rem;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  margin: 0 0 20px 0;
}

.top-scroll-gradient::after {
  content: "";
  background: linear-gradient(90deg, transparent, var(--bg));
  width: 30px;
  right: 0;
  top: 2rem;
  height: calc(200px - 30px);
  position: absolute;
  z-index: 20;
}
.top-scroll-gradient::before {
  content: "";
  background: linear-gradient(270deg, transparent, var(--bg));
  width: 30px;
  left: 0;
  top: 2rem;
  height: calc(200px - 30px);
  position: absolute;
  z-index: 20;
}

.bottom-scroll-gradient::after {
  content: "";
  /* background: linear-gradient(transparent, var(--main)); */
  background-color: red;
  width: 100px;
  right: 10px;
  bottom: 0px;
  height: calc(200px - 30px);
  position: absolute;
  z-index: 20;
}

h3 {
  color: white;
  margin: 0px 30px;
  position: absolute;
  z-index: 10;


  animation: appear 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.h-top {
  color: var(--main);
}
.h-bottom {
  color: var(--main-dark);
}

/* #right-panel .bottom {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  padding: 0 0px;
  background: var(--main-accent);
  border-radius: 1.3rem;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
} */

/* #right-panel .net::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--main), transparent 7rem, transparent 50%, transparent calc(100% - 7rem),var(--main-accent));
    z-index: 10;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#right-panel .top::-webkit-scrollbar {
  height: 10px;
}
#right-panel .top::-webkit-scrollbar-track {
  background-color: var(--bg);
}
#right-panel .top::-webkit-scrollbar-track-piece {
  background-color: var(--bg);
}
#right-panel .top::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0px;
  width: 15px;
}

#right-panel .top::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 1rem;
  margin: 10px;
  
}

#right-panel .bottom::-webkit-scrollbar {
  background: transparent;
  height: 0px;
}

.top .scroll>div {
  width: 200px;
  height: 150px;
  background-color: var(--main);
  border-radius: 1.3rem;
  position: relative;
  margin: 10px;
}



/* .bottom .scroll div {
  width: 300px;
  height: 400px;
  background-color: var(--main);
  border-radius: 1.3rem;
  position: relative;
  margin: 10px;
} */
.bottom {
  background: var(--main-accent);
  width: 100%;
  border-radius: 1.3rem;
  position: relative;
  padding: 30px 20px 10px 20px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  overflow: auto;
  scroll-behavior: smooth;
}

.bottom div {
  flex-grow: 1;
  flex-basis: 20rem;
  width: 300px;
  min-height: 300px;
  background-color: var(--main-dark);
  margin: 10px;
  border-radius: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.scroll {
  padding: 30px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}






/* ==================================================================== */

/* | */

/* | */

/* ========================  SMALL DEVICE  ============================ */

/* | */

/* | */

/* ==================================================================== */

/* | */

@media (max-width: 500px) {
  body {
    background-color: black;
  }
  body > * {
    display: none;
  }
  body::after {
    content: "Jeśli to widzisz, to pewnie jesteś na telefonie. Nie chciało nam się robić responsywności. Wejdź na kompie.";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-height: 700px) {
  body {
    background-color: black;
  }
  body > * {
    display: none;
  }
  body::after {
    content: "Jeśli to widzisz, to sory. Nie chciało nam się robić responsywności. Wejdź na kompie.";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}





/* ==================================================================== */

/* | */

/* | */

/* ======================  SMOOTH ANIMATIONS  ========================= */

/* | */

/* | */

/* ==================================================================== */

/* | */


.top .scroll div, .bottom div, h3, #left-panel, #left-panel ul li {
  filter: opacity(0);
}



#categories ul li:nth-child(2){
  animation: appear 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#categories ul li:nth-child(4){
  animation: appear 1s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#categories ul li:nth-child(6){
  animation: appear 1s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#categories ul li:nth-child(8){
  animation: appear 1s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}


.top .scroll div:nth-child(1) {
  animation: appear 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.top .scroll div:nth-child(2) {
  animation: appear 1s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.top .scroll div:nth-child(3) {
  animation: appear 1s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.top .scroll div:nth-child(4) {
  animation: appear 1s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.top .scroll div:nth-child(5) {
  animation: appear 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
/* .top .scroll div:nth-child(6) {
  animation: appear 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.top .scroll div:nth-child(7) {
  animation: appear 1s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.top .scroll div:nth-child(8) {
  animation: appear 1s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.top .scroll div:nth-child(9) {
  animation: appear 1s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.top .scroll div:nth-child(10) {
  animation: appear 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
} */





.bottom div:nth-child(1) {
  animation: appear 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.bottom div:nth-child(2) {
  animation: appear 1s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.bottom div:nth-child(3) {
  animation: appear 1s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.bottom div:nth-child(4) {
  animation: appear 1s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.bottom div:nth-child(5) {
  animation: appear 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.bottom div:nth-child(6) {
  animation: appear 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.bottom div:nth-child(7) {
  animation: appear 1s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}



.look {
  filter: opacity(0);
  animation: appear 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.look .nagl {
  filter: opacity(0);
  animation: appear 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.look .look-flex {
  filter: opacity(0);
  animation: appear 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.look .look-flex::before {
  filter: opacity(0);
  animation: appear 1s, laser1 100s linear alternate;
  animation-delay: 2s, 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
}
.look .look-flex::after {
  filter: opacity(0);
  animation: appear 1s, laser2 100s linear alternate;
  animation-delay: 2s, 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
}


.look .look-flex .karta:nth-child(1) {
  filter: opacity(0);
  animation: appear 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.look .look-flex .karta:nth-child(2) {
  filter: opacity(0);
  animation: appear 1s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.look .look-flex .karta:nth-child(3) {
  filter: opacity(0);
  animation: appear 1s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}


/* ==================================================================== */

/* | */

/* | */

/* ============================  SHOP  =============================== */

/* | */

/* | */

/* ==================================================================== */

/* | */

.shop {
  background-color: var(--bg);
  width: 100%;
  height: auto;
  min-height: 100%;
  border-radius: 1.3rem;
}


.look, .items {
  /* background-color: #e01a4f; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-wrap: break-word;
  overflow: visible;
}

.look .nagl {
  font-size: 3rem;
  color: var(--main-text);
  font-weight: 700;
}

.look-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 1rem;
  padding: 4rem;
  background-color: var(--main-darker);
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}

.look-flex::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 5px;
  background-color: #ffffff;
  box-shadow: var(--main) 0px 0px 40px 20px;
  transform: rotate(10deg);
}

.look-flex::after {
  content: '';
  position: absolute;
  width: 120%;
  height: 5px;
  background-color: #ffffff;
  box-shadow: var(--main) 0px 0px 40px 20px;
  transform: rotate(-20deg);
}

@keyframes laser1 {
  0% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(190deg);
  }
}
@keyframes laser2 {
  0% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(120deg);
  }
}

.karta {
  width: 20rem;
  /* background-color: #f15946; */
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: visible;
  z-index: 10;
}

.karta-hover {
  width: 100%;
  height: 500px;
  background-color: #201723;
  z-index: 100;
  position: absolute;
  transition: ease-in-out .2s;
  border-radius: 1rem;
  overflow: visible;
}

.karta-hover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: #e01a4f77; */
  border-radius: 1rem;
  transition: ease-in-out .4s;
}

.karta:hover .karta-hover {
  transform: translate(0%, -10%);
  border-radius: 1rem 1rem 0 0;
}

.karta:hover .info {
  color: var(--main);
  transition: ease-in-out .2s;
  border-radius: 0 0 0 0;
}

.karta-hover:hover::after {
  background-color: transparent;
  transition: ease-in-out .2s;
}

.kup {
  position: absolute;
  z-index: 2;
  height: 10%;
  width: 100%;
  background-color: var(--main);
  border-radius: 0 0 1rem 1rem;
  bottom: 0;
  display: flex;

  font-size: 1.1rem;
}

.kup-btn {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--main);
  /* width: 200%; */
}

/* .kup-koszyk {
  border-radius: 0 0 1rem 0;
  background-color: #ffffff;
} */

.kup a {
  width: 50%;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #0c090d;
  font-weight: 700;
  transition: ease-in-out .3s;
  width: 100%;
}

.kup a:hover {
  background-color: rgba(0, 0, 0, 0.228);
  color: #ffffff;
  cursor: pointer;
  transition: ease-in-out .2s;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: var(--main-dark);
  padding: 20px;
  border-radius: 0 0 1rem 1rem;
  color: #ffffff;
  transition: ease-in-out .4s;
  z-index: 30;
}
.info p:nth-child(1) {
  font-weight: 700;
}

.ciuch1 {
  background-image: url(./sklep/koszulka.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ciuch2 {
  background-image: url(./sklep/spodnie.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ciuch3 {
  background-image: url(./sklep/buty.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}







/* ==================================================================== */

/* | */

/* | */

/* ============================  GAMES  ============================== */

/* | */

/* | */

/* ==================================================================== */

/* | */

.games {
  background-color: var(--main-darker);
  width: 100%;
  height: auto;
  min-height: 100%;
  border-radius: 1.3rem;
}