@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Courier, monospace;
}
::-webkit-scrollbar {
    background-color: var(--bgc);
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--bgc);
}
::-webkit-scrollbar-button {
    background-color: var(--bgc);
}
::-webkit-scrollbar-corner {
    background-color: var(--bgc);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(92, 92, 92);
    border-radius: 20px;
}
::-webkit-scrollbar-track-piece {
    background-color: var(--bgc);
}

:root {
    --ebgc: rgb(33, 33, 33);

    --bgc: rgb(46, 46, 46);

    --hackc: rgb(27, 132, 27);
    
    --hh: 10vh;
}

body {
    background-color: var(--bgc);
}
#header {
    position: sticky;
    width: 100%;
    background-color: rgba(46, 46, 46, 0.53);
    backdrop-filter: blur(1rem);
    height: var(--hh);
    z-index: 100;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
#header .btn {
    width: auto;
    height: auto;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: .5rem;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px 30px;
    transition: .2s ease-in-out;
}
#header .btn:hover {
    background-color: white;
    color: var(--bgc);
}
.section {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: var(--ebgc);
    margin-bottom: 20px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.section::before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 0;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.jsinfo {
    width: 40%;
    height: 100%;
    background-color: transparent;
    float: left;
    box-shadow: inset 20px 20px 20px 5px black;
    text-align: center;
    padding: 20px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.jsinfo::before {
    content: '';
    width: 10%; 
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.jsinfo h2 {
    color: rgb(255, 255, 255);
    /* text-shadow: 7px 7px 3px black; */
    position: absolute;
    padding: 10px 30px;
    top: 0%;
    left: 0%;
    z-index: 20;
    line-height: 3rem;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.jsinfo h2::after {
    border-radius: 0 0 20px 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    box-shadow: 15px 15px 10px 1px black;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.js {
    width: 30%;
    height: 100%;
    background-color: rgb(80, 80, 80);
    float: left;
    padding: 10px;
    box-shadow: inset 0px 15px 10px -10px black;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.jspreview {
    width: 30%;
    height: 100%;
    background-color: rgb(30, 30, 30);
    float: left;
    box-shadow: inset 20px 10px 20px 5px black;
    color: rgb(255, 255, 255);
    text-shadow: 7px 7px 2px rgb(0, 0, 0);
    font-weight: 300;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 20px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.dark-mode {
    background-color: black;
}
.dark-mode #header {
    background-color: rgba(0, 137, 0, 0.53);
    color: black;
}
.dark-mode #header button {
    border-color: black;
    color: black;
}
.dark-mode #header .btn:hover {
    background-color: black;
    color: var(--hackc);
}
.dark-mode .section h2 {
    color: black;
}
.dark-mode {
    background-color: rgb(35, 35, 35);
}
.dark-mode .section .jsinfo, .dark-mode .section .jspreview {
    background-color: black;
    color: rgb(48, 199, 48);
}

.hack {
    display: flex;
    align-items: center;
}
.hack input {
    font-weight: 900;
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 3rem;
    background: blue;
}

.hack #Hackermode:checked {
    color: rgb(149, 255, 0);
    font-weight: 700;
}