@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    list-style: none;
}

:root {
    --ziemia-top: #00d4ce;
    --ziemia-bottom: #02a700;

    --nether-top: #482800;
    --nether-bottom: #940000;

    --sky-top: #fffed8;
    --sky-bottom: #ffffff;

    --end-top: #320a38;
    --end-bottom: #a742ac;

    --cave-top: #616161;
    --cave-bottom: #7e7e7e;



    
/*       0 = end          300 = sky           600 = ziemia            900 = nether            1200 = cave       */

    --top: 600px;




    --random-dart-dist-left: 600px;
    --random-dart-dist-right: 600px;

    --speed: 1000ms;
}

.hello {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
    background-color: #212121;
    backdrop-filter: blur(1rem);
    transition: ease-in-out 1s;
    color: white;
}
.hello .btm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hello .btm .lewele {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hello h1 {
    font-size: 3rem;
    margin: 4rem;
}
.hello button {
    max-width: 70%;
    width: 30%;
    height: auto;
    padding: 2rem 5rem;
    font-size: 3.3rem;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    transition: ease-in-out .6s;
    filter: grayscale(1);
    color: white;
}
.hello button:hover {
    filter: grayscale(0);
    transition: ease-in-out .3s;
}


.easy {
    background-image: url(./img/bg/tlo-ground.png);
}
.medium {
    background-image: url(./img/bg/tlo-nether.png);
}
.hard {
    background-image: url(./img/bg/tlo-end.png);
}






.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 0rem;
    transition: filter ease-in-out 1s;

    background-image: linear-gradient(var(--ziemia-top) 50%, var(--ziemia-bottom) 0%);
}
.wrapper h1, .wrapper h2 {
    font-family: 'VT323', sans-serif;
    font-weight: 500;
    transition: ease-in-out .5s;

}
.wrapper h1 {
    font-size: 3rem;
    margin: 5rem 0 0 0;
}
.wrapper h2 {
    font-size: 4rem;
    font-weight: 700;
}

body {
    /* transition: ease-in-out 1s; */
    overflow: hidden;
    background-color: rgb(30, 30, 30);
}
#game {
    width: 600px;
    height: 300px;
    /* border: 5px solid black; */
    /* transition: ease-in-out 1s; */
    overflow: hidden;
    background-image: url(./img/bg/tlo-dario.png);
    background-size: 300%;
    background-position: 0 0;
    /* background-origin: content-box; */
    /* background-attachment: fixed; */
    /* color: rgb(79, 0, 0); */
}
#dariusz {
    width: 60px;
    height: 80px;
    background: url(./img/dario/dario-run.gif);
    background-size: cover;
    position: relative;
    top: 260px;
    left: 60px;
    transform: translate(-50%, -50%);
}


.ruch {
    animation: tlo 8s linear infinite;
}

@keyframes tlo {
    

    0% {
        background-position: left calc(-1 * var(--top));
    }
    100% {
        background-position: right calc(-1 * var(--top));
    }
}
/* #dariusz::after {
    content: 'daro';
    position: relative;
    top: -30px;
    font-family: 'VT323', monospace;
    font-size: 1.7rem;
    text-align: center;
} */

.jumpanimation {
    animation: jump .7s;
}

.dbljumpanimation {
    animation: dbljump .7s;
}

.block {
    animation: block infinite var(--speed) linear;
    transition: ease-in-out 1s;
}

#block {
    width: 50px;
    height: 50px;
    /* background-color: rgb(71, 234, 255); */
    background-image: url(./img/darts/dart-white.png);   
    position: relative;
    top: 200px;
    left: 650px;
    transform: translate(-50%, -50%);
    transition: background-image ease-in-out 0s;
}

#portal {
    width: 60px;
    height: 120px;
    /* background-color: rgb(214, 67, 255); */
    background-image: url(./img/portals/portal-nether.png);
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 260px;
    left: 650px;
}
.portal {
    animation: portal infinite calc(1.5 * var(--speed)) linear;
    transition: ease-in-out 1s;
}



@keyframes portal {
    0% {
        left: 650px;
    }
    100% {
        left: -60px;
    }
}

@keyframes block {
    0% {
        left: 650px;
    }
    100% {
        left: calc(-1 * var(--random-dart-dist-left));
    }
}

@keyframes jump {
    0% {
        top: 260px;
        left: 60px;
    }
    30% {
        top: 100px;
    }
    70% {
        top: 100px;
    }
    100% {
        top: 260px;
        left: 60px;
    }
}
@keyframes dbljump {
    0% {
        top: 200px;
    }
    30% {
        top: 50px;
    }
    70% {
        top: 50px;
    }
    100% {
        top: 200px;
    }
}




.ad {
    min-width: 400px;
    min-height: 300px;
    background-color: rgb(181, 181, 181);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 100;
}


.pasek .ikony {
    background-color: rgb(106, 106, 106);
}
.pasek .ikony ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

}
.pasek .ikony ul li {
    width: 40px;
    height: 30px;
    /* background-color: rgb(94, 94, 94); */
}
.pasek .ikony ul li:nth-child(1):hover {
    background-color: rgb(179, 179, 179);
}
.pasek .ikony ul li:nth-child(2):hover {
    background-color: rgb(179, 179, 179);
}
.pasek .ikony ul li:nth-child(3):hover {
    background-color: rgb(255, 0, 0);
}

.pasek .ikony ul > * {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.close {
    display: none;
}



/* .ad1 {
    left: 30%;
    top: 20%;
}
.ad2 {
    right: 10%;
    bottom: 0;
}
.ad3 {
    left: 40%;
    bottom: 20%;
}
 */


:root {
    --mini: rgb(91, 91, 91);

    --back: rgb(55, 55, 55);

}

.ad4 {
    top: 50%;
    left: 50%;
}

#rick {
    width: 800px;
    height: 500px;
}
#rick .fake {
    width: 100%;
    height: 50px;
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fake .tyty:nth-child(1) {
    width: 60px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    margin: 0 0 0 10px;
    border-radius: .6rem;
}
.fake .tyty:nth-child(2) {
    width: 60px;
    height: 20px;
    background-color: var(--mini);
    margin: 0 0 0 10px;
    border-radius: .6rem;
}
.fake .tyty:nth-child(3) {
    width: 30px;
    height: 10px;
    background-color: var(--mini);
    margin: 0 0 0 570px;
    border-radius: .3rem;
}
.fake .tyty:nth-child(4) {
    width: 30px;
    height: 30px;
    background-color: var(--mini);
    margin: 0 0 0 10px;
    border-radius: 2rem;
}
#rick .video-section {
    width: 600px;
    height: 100%;
    background-color: var(--back);
    position: relative;
    float: left;
}
#rick .playlist-section {
    width: 200px;
    height: 100%;
    position: relative;
    float: left;
}
#rick .video-section #vid {
    width: 600px;
    height: auto;
}
.tytv {
    width: 400px;
    height: 20px;
    background-color: var(--mini);
    margin: 10px 0 0 10px;
    border-radius: 1rem;
}
.tytv:nth-child(3) {
    width: 100px;
    height: 13px;
}
.tytv:nth-child(4) {
    width: auto;
    background-color: transparent;
    margin: 20px 0 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tytv:nth-child(4) .tytx:nth-child(1) {
    width: 40px;
    height: 40px;
    background-color: var(--mini);
    border-radius: 2rem;
}
.tytv:nth-child(4) .tytx:nth-child(2) {
    width: 100px;
    height: 20px;
    background-color: var(--mini);
    border-radius: 1rem;
    margin: 0 0 0 20px;
}
.tytv:nth-child(4) .tytx:nth-child(3) {
    width: 90px;
    height: 30px;
    border: rgb(0, 145, 255) 2px solid;
    border-radius: .5rem;
    margin: 0 0 0 200px;
}
.tytv:nth-child(4) .tytx:nth-child(4) {
    width: 100px;
    height: 30px;
    background-color: rgb(237, 0, 0);
    border-radius: .5rem;
    margin: 0 0 0 10px;
}
.tytv:nth-child(5) {
    width: 200px;
    height: 15px;
    margin: 30px 0 0 10px;
}

.playlist-section .next {
    width: calc(100% - 10px);
    height: 90px;
    background-color: var(--back);
    padding: 5px 0 5px 10px;
}

.playlist-section .next .mini {
    width: 80px;
    height: 80px;
    background-color: var(--mini);
    float: left;
}
.playlist-section .next .tyt {
    width: 80px;
    height: 20px;
    background-color: var(--mini);
    border-radius: 1rem;
    margin: 10px 0 5px 10px;
    float: left;
}
.playlist-section .next .tyt:nth-child(3) {
    width: 50px;
    height: 10px;
    margin: 0 0 5px 10px;
}



a {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

















.bsod {
    width: calc(100% - 20rem);
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 115, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10rem;
    z-index: 10000;

    user-select: none;
}
.div1, .div2{
    min-height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;


}
.bsod .div1 h1, .bsod .div1 p, .bsod .div2 p {
    color: white;
}
.bsod .div1 h1 {
    font-size: 12rem;
}
.bsod .div1 p {
    font-size: 2rem;
}
.bsod .div2 p {
    font-size: 1.3rem;
}
.bsod .div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.bsod .div2 .info p {
    margin: 20px;
}

.qr {
    width: 10rem;
    height: 10rem;
    background-color: chartreuse;
}




#skip {
    width: max-content;
    height: max-content;
    position: absolute;
    right: 10%;
    cursor: pointer;
}

.hidden {
    display: none;
}


.max {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
}