@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');

/* ================== THEME ================== */
:root {
  /* TŁO */
  --bg: #0f172a;
  --card: #111827;
  --card-d: #0a0e16;
  --chip: #1f2937;

  /* TEKST */
  --text: #f9fafb;
  --muted: #9ca3af;

  /* DUOLINGO-LIKE PASTELOWE */
  --accent: #85cc02;
  --accent-pressed: #73a302;

  --secondary: #25aceb;
  --secondary-pressed: #1e81af;

  --red: rgb(177, 34, 34);
  --red-pressed: rgb(105, 18, 18);

  --purple: rgb(162, 0, 255);
  --purple-pressed: rgb(112, 0, 177);
  --purple-pressed-harder: rgb(78, 0, 122);

  /* LINIE */
  --border: #1f2937;
  --hairline: #1f2937;

  /* INPUT */
  --input: #020617;

  /* HERO */
  --hero-h: min(46vh,360px);
  --hero-gap: 24px;

  --chip-border: #374151;


  --app-max-width: 720px;   /* 3/5 desktopu ≈ */
  --app-padding: 14px;      /* padding mobile */
}

/* ===== MANAGE VIEW – MAŁE AVATARY ===== */
#view-manage img {
  width: 32px !important;
  height: 32px !important;
  border-radius: 12px;
  object-fit: cover;
}



/* ================== RESET ================== */
* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family:  "Noto Sans", system-ui ,-apple-system,Inter,Segoe UI,Roboto,Arial;
}

input,textarea { user-select:text; }

html,body {
  height:100%;
  margin:0;
  background:var(--bg);
  color:var(--text);
}

body {
  background: var(--bg);
}


/* ================== LAYOUT ================== */
.wrap {
  width: 100%;
  max-width: var(--app-max-width);

  margin: 0 auto;
  padding: var(--app-padding);

  display: flex;
  flex-direction: column;
  gap: 12px;
}


header {
  display:flex;
  justify-content:center;
  padding-top:var(--safe-top);
}


.screen {
  min-height: calc(100dvh - 2 * var(--app-padding));
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}


/* ================== TYPO ================== */
h1 { margin:0;text-align:center; }
.title { text-align:center;margin:0 0 16px 0; }
.muted { color:var(--muted);text-align:center; }

label {
  text-align:center;
  display:block;
  font-size:14px;
  color:var(--muted);
  margin-bottom: 10px;
}

/* ================== UI ================== */
.row {
  display:flex;
  gap:10px;
  justify-content:center;
  flex-wrap:wrap;
  margin-top: 8px;
}

.row .btn {
  width: 40%;
}

.list {
  display:flex;
  flex-direction:column;
  gap:8px;
}

.rowcard {
  background:var(--chip);
  border:1px solid var(--chip-border);
  border-radius:12px;
}

.chip {
  padding: 8px 10px;
  border-radius:12px;
  background:var(--chip);
  border:1px solid var(--chip-border);
  color:var(--muted);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.divider {
  height:1px;
  background:var(--hairline);
  margin:12px 0;
}

/* ================== INPUTS / BUTTONS ================== */
input {
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  border: 2px solid var(--border);
  background: var(--input);
  color: var(--text);
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: var(--accent);
}


#btn-test {
  background: rgb(162, 0, 255);
  color: rgb(255, 255, 255);
  box-shadow: 0 6px 0 rgb(112, 0, 177);
}

.btn {
  min-height: 52px;
  padding: 16px;
  border-radius: 14px;
  border: none;

  font-weight: 800;
  font-size: 16px;

  cursor: pointer;
  background: var(--accent);
  color: #052e16;

  /* 3D */
  box-shadow: 0 6px 0 var(--accent-pressed);
  transform: translateY(0);

  transition:
    transform 0.0s ease,
    box-shadow 0.0s ease;
}

.btn:active {
  transform: translateY(6px);
  box-shadow: 0 2px 0 var(--accent-pressed);
}

.btn.full {
  width: 100%;
}


.btn.secondary {
  background: var(--secondary);
  color: #eff6ff;
  box-shadow: 0 6px 0 var(--secondary-pressed);
}

.btn.secondary:active {
  box-shadow: 0 2px 0 var(--secondary-pressed);
}


.btn.ghost {
  background: #374151;
  color: var(--muted);
  box-shadow: 0 6px 0 #1f2937;
}

.btn.ghost:active {
  box-shadow: 0 2px 0 #1f2937;
}


/* ================== ENTRY ================== */
.entry-player {
  display:flex;
  align-items:center;
  gap:10px;
}

.entry-avatar {
  width:56px;
  height:56px;
  object-fit:cover;
  border-radius: 12px;
}

.entry-empty { opacity:.6; }

.nick-buttons {
  display:none;
  gap:8px;
  margin-top:6px;
}

/* ================== OVERLAY ================== */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: none;
  justify-content: center;
  align-items: flex-start;

  padding: var(--app-padding);
  background: rgba(2, 6, 23, 0.92);
}

.overlay.show {
  display: flex;
}

#overlay-result .modal {
    width: calc(100% - 2 * var(--app-padding));
    padding: var(--app-padding);
    margin: 0 0 var(--app-padding) 0;
  max-width: var(--app-max-width);

  position: absolute;
  bottom: 0;
}


.card {
  background: var(--card);
  border: 2px solid var(--border);
  border-radius: 16px;
  padding: 8px;
  box-shadow: none;
  height: fit-content;
}

.modal {
  width: 100%;
  max-width: var(--app-max-width);

  /* margin-top: var(--app-padding); */

  background: var(--card);
  border: 2px solid var(--border);
  border-radius: 16px;
  padding: 8px;
  justify-content: space-between;
  

  position: relative;
}


#secret-show, #secret-hide {margin-bottom: 8px;}

/* ================== HOLD BUTTON ================== */
.hold {
  position: relative;
  overflow: hidden;

  background: var(--red);
  color: #fff;

  border-radius: 14px;
  border: none;

  font-weight: 800;
  

  /* 3D */
  box-shadow: 0 10px 0 var(--red-pressed);
}

.hold:active {
  transform: translateY(8px);
  box-shadow: 0 2px 0 var(--red-pressed);
}

.hold > .label {
  position: relative;
  z-index: 2;
}

/* PROGRESS BAR */
.hold::before {
  content: "";
  position: absolute;
  inset: 0;

  width: calc(var(--holdp, 0) * 1%);
  background: rgba(255,255,255,0.35);

  transition: width 0.02s linear;
  z-index: 1;
}

.lock-scroll {
  height: 100vh;
  overflow: hidden;
}



/* ================== HERO ================== */


.secret-hero {
  position:absolute;
  inset:0 0 auto;
  height:var(--hero-h);
  overflow:hidden;
  border-radius:16px 16px 0 0;
background: black;
/* background: -webkit-linear-gradient(90deg, rgba(17, 24, 39, 1) 5%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 80%, rgba(17, 24, 39, 1) 95%);
background: -moz-linear-gradient(90deg, rgba(17, 24, 39, 1) 5%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 80%, rgba(17, 24, 39, 1) 95%);
background: linear-gradient(90deg, rgba(17, 24, 39, 1) 5%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 80%, rgba(17, 24, 39, 1) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111827", endColorstr="#111827", GradientType=1); */
}


/* ================== MENU LOGO ================== */
.menu-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 20px;
}

.menu-logo img {

  max-width: 100%;
  height: auto;        /* ← KLUCZOWE */
  display: block;
  aspect-ratio: auto;
}

.menu-logo {
  animation: logoPop 0.4s ease-out;
}

@keyframes logoPop {
  from {
    opacity: 0;
    transform: translateY(-6px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: none;
  }
}


/* ================= HERO CORE ================= */

.hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;

  transform: translateX(100%);
  opacity: 0;

  transition:
    transform 0.45s ease,
    opacity 0.45s ease;
}

.hero-img.is-current {
  transform: translateX(0);
  opacity: 1;
}

.hero-img.from-right {
  transform: translateX(100%);
  opacity: 1;
}

.hero-img.enter {
  transform: translateX(0);
  opacity: 1;
}

.hero-img.to-left {
  transform: translateX(-100%);
  opacity: 0;
}

th {
  background-color: var(--border);
  border-radius: 6px;
  padding: 4px;
}

td {
  background-color: var(--card);
  text-align: center;
}
td > span {
  text-align: center;
}


.hero-banner {
  position:absolute;
  left:12px;
  bottom:12px;
  padding:8px 12px;
  border-radius:999px;
  background:rgba(0,0,0,.38);
  border:1px solid rgba(255,255,255,.22);
  font-weight:700;
  opacity:0;
  transform:translateY(8px);
  transition:.25s;
}
.hero-banner[aria-hidden="false"] {
  opacity:1;
  transform:translateY(0);
}

/* ================== STATS ================== */
.player {
  display:flex;
  align-items:center;
  gap:12px;
}

.stat-ava {
  width:clamp(44px,8vh,72px);
  height:clamp(44px,8vh,72px);
  border-radius:12px;
  object-fit:cover;
  border:2px solid rgba(255,255,255,.18);
}

/* ================== WHEEL ================== */
.wheel {
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  gap:8px;
  justify-content:center;
}

.wheel .p {
  display:flex;
  align-items:center;
  gap:12px;
  padding:10px 14px;
  border-radius:16px;
  background:var(--chip);
  border:1px solid var(--chip-border);
}

.start-player {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.start-avatar {
  width: 40px;        /* przykładowy rozmiar */
  height: 40px;
  margin-right: 8px;
  flex-shrink: 0;
}

.n {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}


.wheel .p.active {
  outline:3px solid var(--accent2);
  background:var(--secondary);
}

.wheel img {
  width:72px;
  height:72px;
  border-radius:12px;
  object-fit:cover;
}

/* ================== SECRET TEXT ================== */



#overlay-secret {
  align-items: flex-start;
}

/* ===== FULL HEIGHT SECRET SCREEN ===== */
#overlay-secret .modal {
  position: relative;

  width: 100%;
  max-width: var(--app-max-width);

  height: calc(100dvh - 2 * var(--app-padding));
  /* margin-top: var(--app-padding); */

  padding-top: calc(var(--hero-h) + var(--hero-gap));
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: calc(1* var(--app-padding));

  display: flex;
  flex-direction: column;

  text-align: center;
  overflow: hidden;
}



/* ŚRODEK – hasło / impostor */
#secret-value,
#secret-imp-hint,
#secret-instruction {
  flex-shrink: 0;
}


/* wypycha przycisk w dół */
#overlay-secret .row:last-of-type {
  margin-top: auto;
}

#overlay-secret .row:last-of-type {
  padding-bottom: 8px;
}




#secret-player {
  font-size: 16px;
  font-weight: 700;
  /* margin-bottom: 6px; */
}

#secret-pos {
  font-size: 13px;
  color: var(--muted);
}

#secret-value {
  font-size: clamp(28px, 7vw, 40px);
  font-weight: 800;
  letter-spacing: 0.5px;
  /* margin: 16px 0; */
}

#secret-imp-hint {
  margin-top: 10px;
  font-size: 14px;
  color: var(--muted);
}

#secret-instruction {
  font-size: 15px;
  color: var(--muted);
  margin-bottom: 14px;
}

@media (min-width: 1200px) {
  :root {
    --app-padding:20px;
  }
}





/* ===== DISABLE TEXT SELECTION ===== */


input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}

button,
.btn {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}





.avatar-loader {
  position: fixed;
  inset: 0;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(6px);
}

.avatar-loader.hidden {
  display: none;
}

.loader-buttons {
  display: flex;
  gap: 14px;
}

.loader-btn {
  width: 56px;
  height: 50px;
  border-radius: 14px;

  background: var(--purple);
  box-shadow:
    0 12px 0 var(--purple-pressed);

  animation: pressCycle 1.5s ease-in-out infinite;
}

/* opóźnienia – fala */
.loader-btn:nth-child(1) { animation-delay: 0s;}
.loader-btn:nth-child(2) { animation-delay: .5s;}
.loader-btn:nth-child(3) { animation-delay: 1s;}

@keyframes pressCycle {
  0% {
    transform: translateY(0);
    box-shadow:
      0 12px 0 var(--purple-pressed-harder);
    background: var(--purple-pressed);
  }

  15% {
    transform: translateY(11px);
    box-shadow:
      0 1px 0 var(--purple-pressed);
    background: var(--purple-pressed);
  }


  30% {
    transform: translateY(0);

    box-shadow:
      0 12px 0 var(--purple-pressed);
    background: var(--purple);
  }

  100% {
    transform: translateY(0);
    box-shadow:
      0 12px 0 var(--purple-pressed);
    background: var(--purple);
  }
}

.loader-text {
  margin: 18px;
  padding: 1rem;
  color: var(--purple);
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 900;
}

