@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');




::-webkit-scrollbar-button {
    background-color: transparent;
    transition: ease-in-out .3s;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(79, 79, 79);
    border-radius: 0px;
    transition: ease-in-out .3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(155, 155, 155);
    transition: ease-in-out .3s;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    transition: ease-in-out .3s;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
    transition: ease-in-out .3s;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    background-color: rgb(36, 36, 36);
    height: auto;
   
}


:root {
    /* SZEROKOŚĆ LEWEGO */
    --left-panel-width: 13rem;

    /* SZEROKOŚĆ PRAWEGO */
    --right-panel-width: 13rem;

    /* WYSOKOŚĆ TOP */
    --top-height: 10rem;

    /* WYSOKOŚĆ BOTTOM */
    --btm-height: 7rem;

    


    /* DLUGOSC ANIMACJI PASKA NA DOLE TEGO TAKIEGO TEN NO */
    --music-play: 180s;
}


.back {
    color: rgb(113, 113, 113);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: ease-in-out .3s;
    margin: 10px;
}
.back:hover {
    color: rgb(255, 255, 255);
}
.back svg {
    transform: rotateZ(-90deg);
    width: 3.5rem;
    height: 3.5rem;
}

.lft-btm {
    width: 100%;
    background-color: rgb(31, 31, 31);
    position: absolute;
    bottom: 0;
    height: var(--btm-height);
}
.right-panel {
    position: absolute;
    top: 0px;
    /* left: calc(100% - var(--left-panel-width)); */
    right: 0;
    height: 100%;
    width: var(--right-panel-width);
    background-color: wheat;
    z-index: 100;
}

.tabContainer1 {
    width: var(--left-panel-width);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}
.tabContainer1 .icons {
    width: 100%;
    background-color: transparent;
    margin: 20px 5px;
}
.tabContainer1 .icons button {
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.icons button p {
    /* color: rgb(113, 113, 113); */
    margin: 0 10px;
}
.icons button svg {
    width: 35px;
    height: 35px;
    /* color: rgb(113, 113, 113); */
}



.buttonContainer button:hover p, .buttonContainer button:hover svg{
    color: white;
    font-weight: 600;
}

.icons button:hover::before p, .icons button:hover::before svg{
    color: rgb(255, 0, 0);
    font-weight: 600;
}








.tabContainer1 .playlists {
    position: absolute;
    width: 100%;
    height: calc(100% - 40% - var(--btm-height));
    background-color: transparent;
    top: 40%;
    overflow-y: visible;
}
.playlists button p {
    color: rgb(113, 113, 113);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 95%;
    cursor: default;
}

.buttonContainer button {
    width: 100%;
    height: 2.2rem;
    margin: 0px 5px;
    border: none;
    outline: none;
    background-color: transparent;
    /* color: rgb(148, 148, 148); */
    text-align: left;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    padding: 10px;
}





.tabContainer2 {
    width: calc(100% - var(--left-panel-width) - var(--right-panel-width));
    height: 100%;
    position: absolute;
    left: var(--left-panel-width);
    color: white;
    background-color: rgb(63, 13, 63);
}

.top {
    height: var(--top-height);
    width: 100%;
    background: linear-gradient(rgb(92, 92, 92), transparent);
    position: absolute;
    top: 0;
    z-index: 100;
}
.top h1 {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
    font-size: 3.4rem;
}
.search input {
    width: 80%;
    height: 20%;
    background-color: black;
    outline: none;
    border: none;
    font-size: 3.3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px;
    border-radius: 100px;
}

.user a {
    position: absolute;
    top: 1%;
    right: calc(var(--right-panel-width) + 1%);
    width: 300px;
    height: auto;
    background-color: black;
    border-radius: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 5px;
    color: white;
    z-index: 1000000;
}
.user .bi-person-circle {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px;
}
.user .bi-caret-down-fill {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px;
}
.user p {
    margin: auto;
}
.lock {
    position: absolute;
    top: 1%;
    right: 25%;
    width: 60px;
    height: 60px;
    background-color: rgb(44, 139, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    z-index: 50;
}
.lock svg {
    width: 30px;
    height: 30px;
    color: white;
}



.mid {
    height: calc(100% - var(--btm-height));
    top: 0;
    width: 100%;
    background-color: rgb(35, 35, 35);
    position: absolute;
    overflow-y: auto;
    padding: var(--top-height) 0 0 0;
}

#page-btm {
    height: var(--btm-height);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(31, 31, 31);
    z-index: 1000;
}
.controls {
    width: 50%;
    height: auto;
    position: absolute;
    top: 35%;
    left: calc(50% - var(--left-panel-width) + var(--right-panel-width));
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
}
.controls a {
    background-color: transparent;
    position: relative;
    display: flex;
    margin: 5px;
}
.controls svg {
    width: 30px;
    height: 30px;
    color: rgb(191, 191, 191);
}
.controls .play {
    width: 42px;
    height: 42px;
    color: white;
    z-index: 100;
    overflow: visible;
}
.controls .playleft, .controls .playright {
    width: 25px;
    height: 25px;
}
.controls .repeat, .controls .shuffle {
    width: 20px;
    height: 20px;
    color: rgb(75, 75, 75);
    font-weight: 700;
}
a .pasek {
    width: 40%;
    height: 5px;
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: rgb(101, 101, 101);
    transform: translate(-50%, -50%);
    overflow: visible;
}
a .pasek::before {
    content: '';
    width: 0%;
    height: 5px;
    position: absolute;
    background-color: white;
    animation: muza var(--music-play) infinite linear;
}
a .pasek:hover::before, a .pasek:hover::after {
    content: '';
    background-color: rgb(34, 255, 0);
}

a .pasek::after {
    content: '';
    height: 15px;
    width: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: transparent;
    position: absolute;
    animation: muzakropka var(--music-play) infinite linear;
    z-index: 100;
}
iframe {
    margin: 0;
    padding: 0;
    display: flex;
    
}

@keyframes muza {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes muzakropka {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}




@media (max-width:1440px) {
    .right-panel {
        right: 0;
        width: 5rem;
    }


    .tabContainer2 {
        width: calc(100% - var(--left-panel-width) - 5rem);
        left: var(--left-panel-width);
    }
}





@media (max-width:888px) {
    .right-panel {
        right: 0;
        display: none;
    }

    .user a {
        position: absolute;
        top: 1%;
        right: 1%;
        width: 60px;
        height: 60;
        background-color: black;
        border-radius: 50px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        text-align: center;
        padding: 5px;
        color: white;
    }
    .user .bi-person-circle {
        position: relative;
        width: 30px;
        height: 30px;
        margin: 10px 10px 10px 10px;
    }
    .user .bi-caret-down-fill {
        display: none;
    }
    .user p {
        display: none;
    }

    



    .tabContainer1 {
        width: 5rem;
    }
    .tabContainer1 p {
        display: none;
    }

    .tabContainer2 {
        width: calc(100% - 5rem);
        left: 5rem;
    }
}







