@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(36, 36, 36);
    height: auto;
}


::-webkit-scrollbar-button {
    background-color: transparent;
    transition: ease-in-out .3s;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 50px;
    transition: ease-in-out .3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 225, 0, 0.529);
    border-radius: 50px;
    transition: ease-in-out .3s;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    transition: ease-in-out .3s;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    transition: ease-in-out .3s;
}
















#top {
    top: 0;
    left: 0;
    position: fixed;
    width: calc(100% - 0px);
    height: calc(15% - 40px);
    padding: 20px;
    background-color: #ffcf00;
    align-items: center;
    display: flex;
    z-index: 100;
}
.back {
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: ease-in-out .3s;
}
.back:hover {
    color: rgb(255, 255, 255);
}
.back svg {
    transform: rotateZ(-90deg);
    width: 3.5rem;
    height: 3.5rem;
}
#top img {
    margin: auto 50px;
    margin-right: 100px;
    position: relative;
    width: 8vh;
    height: 8vh;
    top: 50%;
    left: 2%;
    /* transform: translate(-50%, -50%); */
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    transition: ease-in-out .1s;
}
ul a {
    height: 0px;
}

ul a li {
    margin: 10px 30px;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;
    transition: ease-in-out .1s;
    position: relative;
}
.special {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: .4rem;
    transition: ease-in-out .1s;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto 20px;
}
.special:hover {
    background-color: black;
    color: white;
    transition: ease-in-out .1s;
}
.special:hover li {
    color: white;
    transition: ease-in-out .1s;
    
}

ul .btn li:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3.5px;
    top: 90%;
    background-color: black;
    z-index: 100;
    transition: ease-in-out .1s;
}
ul .btn li::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3.5px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: black;
    z-index: 100;
    transition: ease-in-out .1s;
}
.search {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    /* transform: translate(-50%, -50%); */
}
.shop .search svg {
    width: 1.4rem;
    height: 1.4rem;
    color: rgb(18, 18, 18);
}
.shop {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: auto;
    height: 100%;
    top: 0px;
    right: 10%;
}

.shop .heart, .shop .cart {
    position: relative;
    display: flex;
    align-items: center;
}
.shop .heart svg, .shop .cart svg {
    width: 1.4rem;
    height: 1.4rem;
    color: rgb(53, 53, 53);
    margin: 0 20px;
}




#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 300px;

    /* background-color: rgb(19, 19, 19); */
}

.parallax {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}
.ddd {
    position: absolute;
    inset: 0;
}
.a {
    position: absolute;
    background: url(../Zdjecia/LEGONASTRONKE/c.png) no-repeat center;
    background-size: cover;
    transform: translateZ(-300px) scale(2);
    z-index: 5;
}
.b {
    position: absolute;
    background: url(../Zdjecia/LEGONASTRONKE/b.png) no-repeat center;
    background-size: cover;
    transform: translateZ(-200px) scale(2.3333);
    z-index: 4;
}
.c {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0) 70%, rgb(77, 0, 0)), url(../Zdjecia/LEGONASTRONKE/a.png) no-repeat center;
    background-size: cover;
    transform: translateZ(-100px) scale(2);
    z-index: 3;
}

.t {
    position: absolute;
    top: 20%;
    left: 40%;
    
    color: white;
    transform: translateZ(-600px) scale(4.7);
}
.tt {
    position: absolute;
    top: 35%;
    left: 40%;
    
    font-size: 4rem;
    color: gold;
    visibility: visible;
    transform: translateZ(-600px) scale(4.7);
    display: flex;
    flex-direction: row;
}
.tt1 {
    animation: tesla infinite 2s linear;
    animation-delay: 0s;
}
.tt2 {
    animation: tesla infinite 2s linear;
    animation-delay: .05s;
}
.tt3 {
    animation: tesla infinite 2s linear;
    animation-delay: .1s;
}
.tt4 {
    animation: tesla infinite 2s linear;
    animation-delay: .15s;
}
.tt5 {
    animation: tesla infinite 2s linear;
    animation-delay: .2s;
}
.tt6 {
    animation: tesla infinite 2s linear;
    animation-delay: .25s;
}
.tt7 {
    animation: tesla infinite 2s linear;
    animation-delay: .3s;
}
.tt8 {
    animation: tesla infinite 2s linear;
    animation-delay: .35s;
}
.tt9 {
    animation: tesla infinite 2s linear;
    animation-delay: .4s;
}
.tt10 {
    animation: tesla infinite 2s linear;
    animation-delay: .45s;
}




@keyframes tesla {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-6%);
        
    }
    100% {
        transform: translateY(0%);
        color: transparent;
    }
}



.zestawy {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(77, 0, 0), rgb(77, 0, 0));
    position: absolute;
    top: 200%;
    transform: translateZ(-100px) scale(2);
    z-index: 2;
    
}


#zestawy {
    transform-style: flat;
    position: absolute;
    top: 190%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(65, 0, 0);
    z-index: 50;
    padding: 30px;
}

.sets {
    width: 100%;
    height: 60rem;
    background-color: goldenrod;
    position: relative;
    z-index: 20;
    margin: 80px 0;
    border-radius: 20px;
}
.sets-class{
    width: 100%;
    height: 60%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.figure1s {
    width: 100%;
    height: 100%;
    left: 0;
    top: 20%;
    transform: translate(-50%, 0%) rotateY(180deg) rotateZ(-45deg);
    position: absolute;
    z-index: 60;
    pointer-events: none;
}

.figure2s {
    width: 100%;
    height: 100%;
    right: 0;
    top: 0%;
    transform: translate(50%, 0%) rotateY(180deg) rotateZ(45deg);
    position: absolute;
    z-index: 60;
    pointer-events: none;
}

.sets-img {
    width: 100%;
    height: 60%;
    top: 35%;
    transform: translate(0%, -50%);
    position: relative;
    pointer-events: none;
}

.sets-info {
    background-color: rgba(255, 255, 255, 0.486);
    position: absolute;
    width: 30%;
    height: 90%;
    top: 50%;
    left: 60%;
    transform: translate(0%, -50%);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.324);
}
.sets-info h1 {
    margin-top: 100px;
}
.down {
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.down h2, .down a {
    margin: 0 40px;
}
.down a {
    background-color: rgb(0, 145, 255);
    width: 100px;
    height: 60px;
    padding-top: 5px;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    transition: ease-in-out .2s;
}
.down a:hover {
    background-color: white;
    color: rgb(0, 145, 255);
}













.set1-class {
    background: linear-gradient(to right, goldenrod 5%, transparent 20%, transparent 75%, goldenrod), url(../Zdjecia/Blender/systemy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.set1 .figure1 {
    background: url(../Zdjecia/Blender/madejski.png) center no-repeat;
    background-size: 60%;
}
.set1 .figure2 {
    background: url(../Zdjecia/Blender/kuligowski.png) center no-repeat;
    background-size: 60%;
}
.set1-img {
    background: url(../Zdjecia/Blender/legobox.png) center no-repeat;
    background-size: 100%;
}




.set2-class {
    background: linear-gradient(to right, goldenrod 5%, transparent 20%, transparent 75%, goldenrod), url(../Zdjecia/Blender/matematyka.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.set2 .figure1 {
    background: url(../Zdjecia/Blender/madejski.png) center no-repeat;
    background-size: 60%;
}
.set2 .figure2 {
    background: url(../Zdjecia/Blender/kuligowski.png) center no-repeat;
    background-size: 60%;
}
.set2-img {
    background: url(../Zdjecia/Blender/legobox.png) center no-repeat;
    background-size: 100%;
}





.set3-class {
    background: linear-gradient(to right, goldenrod 5%, transparent 20%, transparent 75%, goldenrod), url(../Zdjecia/Blender/historia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.set3 .figure1 {
    background: url(../Zdjecia/Blender/madejski.png) center no-repeat;
    background-size: 60%;
}
.set3 .figure2 {
    background: url(../Zdjecia/Blender/kuligowski.png) center no-repeat;
    background-size: 60%;
}
.set3-img {
    background: url(../Zdjecia/Blender/legobox.png) center no-repeat;
    background-size: 100%;
}





@media (max-width:1440px) {
    .t {
        position: absolute;
        top: 20%;
        left: 30%;
        
        color: white;
        transform: translateZ(-600px) scale(4.7);
    }
    .tt {
        position: absolute;
        top: 35%;
        left: 30%;
        
        font-size: 2rem;
        color: gold;
        transform: translateZ(-600px) scale(4.7);
    }
    .back {
        color: black;
        font-size: 1rem;
        display: flex;
        align-items: center;
        font-weight: 600;
        transition: ease-in-out .5s;
    }
    .back svg {
        transform: rotateZ(-90deg);
        width: 2.5rem;
        height: 2.5rem;
    }
    ul li {
        display: none;
    }
    .special {
        display: none;
    }










    .sets {
        width: 100%;
        height: 50rem;
        background-color: goldenrod;
        position: relative;
        z-index: 20;
        margin: 80px 0;
        border-radius: 20px;
    }
    .sets-class {
        width: 100%;
        height: 40%;
        position: relative;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        background: linear-gradient(to right, goldenrod 5%, transparent 20%, transparent 75%, goldenrod), url(../Zdjecia/Blender/matematyka.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }
    .figure1s {
        background: url(../Zdjecia/Blender/madejski.png) center no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;
        left: 0;
        top: 20%;
        transform: translate(-50%, 0%) rotateY(180deg) rotateZ(-45deg);
        position: absolute;
        z-index: 60;
        pointer-events: none;
    }
    .figure2s {
        background: url(../Zdjecia/Blender/kuligowski.png) center no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0%;
        transform: translate(50%, 0%) rotateY(180deg) rotateZ(45deg);
        position: absolute;
        z-index: 60;
        pointer-events: none;
    }
    .sets-img {
        width: 60%;
        height: 50%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        background: url(../Zdjecia/Blender/legobox.png) center no-repeat;
        background-size: cover;
        pointer-events: none;
    }
    .sets-info {
        background-color: rgba(255, 255, 255, 0.486);
        position: relative;
        width: 90%;
        height: 50%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-radius: 20px;
    }
    .sets-info h1 {
        margin-top: 100px;
    }
    .down h2, .down a {
        margin: 0 10px;
    }
    
}
    
@media (max-width:444px) {
    #top ul {
        display: none;
    }
}