*{
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: rgb(229, 229, 229);
}

.info{
    top: 1%;
    left: 90%;
    position: absolute;
    text-align: center;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 200%;
    color: #414141;
    font-size: 50px;
    z-index: 1;
    
}
.info:hover{
    opacity: 1;
    cursor: auto;
    
}

#ja {
    top: 1%;
    left: 78%;
    transform: translate(-50% -50%);
    position: absolute;
    text-align: center;
    width: 250px;
    height: 20px;
    text-align: center;
    line-height: 200%;
    color: #414141;
    font-size: 30px;
    z-index: -1;
    opacity: 1;
    font-family: sans-serif;
}




.tlo{
    position: absolute;
    top: 1%;
    left: 94%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 200%;
    color: #414141;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;
}
.tlo:hover {
    
    transition: ease-in-out 0.5s;
    color: #000000;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;
    

}
.tlo:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #000000;
    opacity: 0;
    transition: 0.5s;
}
.tlo:hover:before {   
    filter: blur(70px);
    opacity: 70%;

}


text{
    color: #ffffff;
    font-size: 20px;
    line-height: 200px;
}

footer{
    margin: 0px;
    padding: 0px;
    position: absolute;
    color: #a5a5a5;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 1px;
    top: 97%;
    left: 89%;
    transform: translate(-50% -50%);
    width: 190px;
    height: 3px;
    text-align: center;
}


.zainteresowania{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #ff0000;
    font-size: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #393939;
    background-size: 300%;
    border-radius: 100px;
    border-color: #ff0000;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;

}
.zainteresowania p{
    visibility: hidden;
    font-size: 10px;
    z-index: 1;
    line-height: 1px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    transition: ease-in-out 0.5s;
    text-transform: none;
    
}
.zainteresowania:hover {
    
    transition: ease-in-out 0.5s;
    width: 400px;
    height: 400px;  
    color: #393939;
    background-image: url(../zdj/goal.jpeg);
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;

    

}
.zainteresowania:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #ff0000;
    background-size: 400%;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5s;
}
.zainteresowania:hover p{
    opacity: 1;
    visibility: visible;
    top: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 1%;
    text-transform: none;
    transition: ease-in-out 0.5s;
    font-family: sans-serif;
    font-weight: bold;
    cursor: auto;
}
.zainteresowania:hover:before {   
    filter: blur(70px);
    opacity: 70%;

}


.omnie{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #ffba00;
    font-size: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #393939;
    background-size: 300%;
    border-radius: 100px;
    border-color: #ff0000;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;

}
.omnie p{
    visibility: hidden;
    font-size: 10px;
    z-index: 1;
    line-height: 1px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    transition: ease-in-out 0.5s;
    text-transform: none;
    
}
.omnie:hover {
    
    transition: ease-in-out 0.5s;
    width: 400px;
    height: 400px;  
    color: #393939;
    background-image: url(../zdj/JA.jpg);
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;
    

}
.omnie:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #ffba00;
    background-size: 400%;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5s;
}
.omnie:hover p{
    opacity: 1;
    visibility: visible;
    top: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 1%;
    text-transform: none;
    transition: ease-in-out 0.5s;
    font-family: sans-serif;
    font-weight: bold;
    cursor: auto;
}
.omnie:hover:before {   
    filter: blur(70px);
    opacity: 70%;

}


.zdjecia{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #00d000;
    font-size: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #393939;
    background-size: 300%;
    border-radius: 100px;
    border-color: #ff0000;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;

}
.zdjecia p{
    visibility: hidden;
    font-size: 10px;
    z-index: 1;
    line-height: 1px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    transition: ease-in-out 0.5s;
    text-transform: none;
    
}
.zdjecia:hover {
    
    transition: ease-in-out 0.5s;
    width: 400px;
    height: 400px;  
    color: #393939;
    background-image: url(../zdj/zdjecia.png);
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;
    

}
.zdjecia:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #00d000;
    background-size: 400%;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5s;
}
.zdjecia:hover p{
    opacity: 1;
    visibility: visible;
    top: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 1%;
    text-transform: none;
    transition: ease-in-out 0.5s;
    font-family: sans-serif;
    font-weight: bold;
    cursor: auto;
}
.zdjecia:hover:before {   
    filter: blur(70px);
    opacity: 70%;

}



.social{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #276aff;
    font-size: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #393939;
    background-size: 300%;
    border-radius: 100px;
    border-color: #ff0000;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;

}
.social p{
    visibility: hidden;
    font-size: 10px;
    z-index: 1;
    line-height: 1px;
    width: auto;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    transition: ease-in-out 0.5s;
    text-transform: none;
    
}
.social:hover {
    
    transition: ease-in-out 0.5s;
    width: 400px;
    height: 400px;  
    color: #393939;
    background-image: url();
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;
    

}
.social:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #276aff;
    background-size: 400%;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5s;
}
.social:hover p{
    opacity: 1;
    visibility: visible;
    top: 50%;
    color: #393939;
    font-size: 20px;
    line-height: 15px;
    margin-top: 1%;
    text-transform: none;
    transition: ease-in-out 0.5s;
    font-family: sans-serif;
    font-weight: bold;
    cursor: auto;
}
.social:hover:before {   
    filter: blur(70px);
    opacity: 70%;

}



































