*{
    text-decoration: none;

}

body {
    margin: 0px;
    padding: 0px;
    background: rgb(28, 28, 28);
}

h1{
    color: #fff;
    font-family: sans-serif;
    font-size: 60px;
    position: absolute;
    z-index: 3;
    margin-top: 30px;
    left: 35%;
    text-align: center;
}




.back{
    position: absolute;
    top: 1%;
    left: 2%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 200%;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;
}
.back:hover {
    
    transition: ease-in-out 0.5s;
    color: #ffffff;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;
    

}
.back:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #ffffff;
    opacity: 0;
    transition: 0.5s;
}
.back:hover:before {   
    filter: blur(70px);
    opacity: 70%;

}

.tlo{
    position: absolute;
    top: 1%;
    left: 94%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 200%;
    color: #7e7e7e;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;
}
.tlo:hover {
    
    transition: ease-in-out 0.5s;
    color: #ffffff;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;
    

}
.tlo:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #ffffff;
    opacity: 0;
    transition: 0.5s;
}
.tlo:hover:before {   
    filter: blur(70px);
    opacity: 70%;

}


.minecraft{
    position: absolute;
    top: 33%;
    left: 66%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #ffc400;
    font-size: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #fff;
    background-size: 300%;
    border-radius: 100px;
    border-color: #ff0000;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;

}
.minecraft p{
    visibility: hidden;
    font-size: 10px;
    z-index: 1;
    line-height: 1px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    transition: ease-in-out 0.5s;
    text-transform: none;
    
}
.minecraft:hover {
    
    transition: ease-in-out 0.5s;
    width: 400px;
    height: 400px;  
    color: #ffffff;
    background-image: url(../zdj/2018-01-06_17.26.43.png);
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;


}
.minecraft:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #ffc400;
    background-size: 400%;
    border-radius: 50px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.minecraft:hover p{
    opacity: 1;
    visibility: visible;
    top: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10%;
    text-transform: none;
    transition: ease-in-out 0.5s;
    font-family: sans-serif;
    font-weight: bold;
    cursor: auto;
}
.minecraft:hover:before {   
    filter: blur(70px);
    opacity: 70%;
}



.rocket{
    position: absolute;
    top: 33%;
    left: 33%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #00d6bd;
    font-size: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #fff;
    background-size: 300%;
    border-radius: 100px;
    border-color: #ff0000;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;

}
.rocket p{
    visibility: hidden;
    font-size: 10px;
    z-index: 1;
    line-height: 1px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    transition: ease-in-out 0.5s;
    text-transform: none;
    
}
.rocket:hover {
    
    transition: ease-in-out 0.5s;
    width: 400px;
    height: 400px;  
    color: #ffffff;
    background-image: url(../zdj/goal.jpeg);
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;

    

}
.rocket:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #00d6bd;
    background-size: 400%;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5s;
}
.rocket:hover p{
    opacity: 1;
    visibility: visible;
    top: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10%;
    text-transform: none;
    transition: ease-in-out 0.5s;
    font-family: sans-serif;
    font-weight: bold;
    cursor: auto;
}
.rocket:hover:before {   
    filter: blur(70px);
    opacity: 70%;

}



.omnie{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #fba1ff;
    font-size: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #fff;
    background-size: 300%;
    border-radius: 100px;
    border-color: #ff0000;
    background-position: center;
    z-index: 1;
    transition: ease-in-out 0.5s;

}
.omnie p{
    visibility: hidden;
    font-size: 10px;
    z-index: 1;
    line-height: 1px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    transition: ease-in-out 0.5s;
    text-transform: none;
    width: 100%;
    text-align: center;
    
}
.omnie:hover {
    
    transition: ease-in-out 0.5s;
    width: 1500px;
    height: 400px;  
    color: #ffffff;
    background-image: url(../zdj/2019-11-16_20.33.11.png);
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: blur(50%);
    cursor: auto;

    

}
.omnie:before {
    content:  '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #fba1ff;
    background-size: 400%;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5s;
}
.omnie:hover p{
    opacity: 1;
    visibility: visible;
    top: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 1%;
    text-transform: none;
    transition: ease-in-out 0.5s;
    font-family: sans-serif;
    font-weight: bold;
    cursor: auto;
    width: 100%;
    text-align: center;
}
.omnie:hover:before {   
    filter: blur(70px);
    opacity: 70%;

}


























