@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Monsterrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black
}
#kalk {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    border-radius: 1rem;
}
.row {
    width: 100%;
    height: auto;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    height: 4rem;
    width: calc(25% - 10px);
    background-color: rgba(255, 255, 255, 0.194);
    border: none;
    border-radius: .6rem;
    font-size: 2rem;
    padding: 10px;
    margin: 5px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.29);
    cursor: pointer;
}

#zero {
    width: calc(50% - 10px);
}

.wynik {
    width: calc(100% - 10px);
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.521);
    margin: 5px;
    border-radius: .6rem;
}